$utilities: map-merge(
  $utilities, (
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      ( responsive: true ),
    ),
    "shadow": map-merge(
      map-get($utilities, "shadow"),
      ( responsive: true ),
    ),
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      ( responsive: true ),
    ),
    "overflow": map-merge(
      map-get($utilities, "overflow"),
      ( responsive: true ),
    ),
    "start": map-merge(
      map-get($utilities, "start"),
      ( responsive: true ),
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true,
        property: width,
        class: w,
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"), (
            "fit-content": fit-content,
          )
        )
      ),
    ),
    "translate-middle": map-merge(
      map-get($utilities, "translate-middle"),
      ( responsive: true, 
        values: (
          "x-0": translateY(0%),
        )
      ),
    ),
  )
);