
$primary: #0068FF;
$primary-dark: #003BB7;
$primary-10: #E5F4FF;
$primary-40: #99CFFF;
$primary-60: #66B1FF;
$primary-80: #3F95FF;

$success: #7CD31F;
$success-dark: #48970F;
$success-10: #F0FCD1;
$success-20: #DDFAA5;

$info: #2AAFFC;
$info-dark: #1566B5;
$info-10: #D4F9FE;
$info-20: #A9EFFE;

$danger: #FF3A55;
$danger-dark: #B71D4F;
$danger-10: #FFE0D7;
$danger-20: #FFBBB0;

$neutral-10: #F9F9F9;
$neutral-40: #ECECEC;
$neutral-60: #909090;
$neutral-80: #4B4B4B;

$custom-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-10": $primary-10,
  "primary-40": $primary-40,
  "primary-60": $primary-60,
  "primary-80": $primary-80,

  "success": $success,
  "success-dark": $success-dark,
  "success-10": $success-10,
  "success-20": $success-20,

  "info": $info,
  "info-dark": $info-dark,
  "info-10": $info-10,
  "info-20": $info-20,

  "danger": $danger,
  "danger-dark": $danger-dark,
  "danger-10": $danger-10,
  "danger-20": $danger-20,

  "neutral-10": $neutral-10,
  "neutral-40": $neutral-40,
  "neutral-60": $neutral-60,
  "neutral-80": $neutral-80,
);

$theme-colors: map-merge($theme-colors, $custom-colors);


$btn-primary-hover-bg: $primary-dark;