<footer class="footer py-10 px-3">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-end mb-lg-4">
      <img src="../assets/images/logo-white.png" class="img-fluid" alt="logo white" width="200px">
      <ul class="list-unstyled fs-8 d-flex flex-column gap-6 my-9 m-lg-0 flex-lg-row">
        <li><a href="#" class="link-light text-decoration-none">常見問題</a></li>
        <li><a href="#" class="link-light text-decoration-none">關於我們</a></li>
        <li><a href="#" class="link-light text-decoration-none">隱私權政策</a></li>
        <li><a href="#" class="link-light text-decoration-none">使用者條款</a></li>
      </ul>
    </div>
    <div class="d-lg-flex justify-content-lg-between flex-lg-row-reverse align-items-lg-center">
      <ul class="list-unstyled d-flex gap-4 mb-7">
        <li><a href="#"><img src="../assets/images/icons/btn_line.png" alt="line icon"></a></li>
        <li><a href="#"><img src="../assets/images/icons/btn_yt.png" alt="line icon"></a></li>
        <li><a href="#"><img src="../assets/images/icons/btn_fb.png" alt="line icon"></a></li>
      </ul>
      <p class="fs-9">copyright © 2024 課程網站 All Rights Reserved.</p>
    </div>
  </div>
</footer>