  <header class="navbar navbar-expand-xl container bg-white rounded-xl-pill shadow-xl p-4 px-xl-9 mt-xl-9 mb-xl-4">
    <div class="container-fluid">
      <!-- logo、探索 (桌機)、搜尋按鈕 (桌機) -->
      <div class="d-flex align-items-center">
        <!-- logo  -->
        <a class="navbar-brand me-2 me-xl-6" href="index.html">
          <img src="../assets/images/logo.png" class="img-fluid" alt="logo">
        </a>
        <!-- 探索、搜尋欄位 (桌機) -->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-none d-xl-flex align-items-center">
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle px-6" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              探索
            </a>
            <!-- 電腦版探索選單 -->
            <div class="desktop-nav-dropdown-menu dropdown-menu py-0">
              <div class="d-flex">
                <!-- 選單第一層 -->
                <ul class="list-unstyled dropdown-menu-level-one">
                  <li><a class="dropdown-item dropdown-item-all mb-2" href="#">探索全部</a></li>
                  <li><a class="dropdown-item" href="#">音樂</a></li>
                  <li><a class="dropdown-item" href="#">程式</a></li>
                  <li><a class="dropdown-item" href="#">程式</a></li>
                  <li><a class="dropdown-item" href="#">藝術</a></li>
                  <li><a class="dropdown-item" href="#">人文</a></li>
                  <li><a class="dropdown-item" href="#">行銷</a></li>
                  <li><a class="dropdown-item" href="#">投資理財</a></li>
                  <li><a class="dropdown-item" href="#">心靈成長</a></li>
                  <li><a class="dropdown-item" href="#">職場技能</a></li>
                  <li><a class="dropdown-item" href="#">生活品味</a></li>
                </ul>
                <!-- 選單第二層 -->
                <ul class="list-unstyled dropdown-menu-level-two">
                  <li><a class="dropdown-item" href="#">探索全部</a></li>
                  <li><a class="dropdown-item" href="#">音樂</a></li>
                  <li><a class="dropdown-item" href="#">程式</a></li>
                  <li><a class="dropdown-item" href="#">程式</a></li>
                  <li><a class="dropdown-item" href="#">藝術</a></li>
                  <li><a class="dropdown-item" href="#">人文</a></li>
                  <li><a class="dropdown-item" href="#">行銷</a></li>
                  <li><a class="dropdown-item" href="#">投資理財</a></li>
                  <li><a class="dropdown-item" href="#">心靈成長</a></li>
                  <li><a class="dropdown-item" href="#">職場技能</a></li>
                  <li><a class="dropdown-item" href="#">生活品味</a></li>
                </ul>
                <!-- 選單第三層 -->
                <section class="dropdown-menu-level-three">
                  <h2 class="border-bottom border-netural-40 fs-7 fw-semibold text-neutral-80 pb-4"><img src="../assets/images/icons/ic_fire.png" alt="icon fire" width="24px" class="me-2">熱門網頁前端課程</h2>
                  <ul class="list-unstyled border-bottom border-neutral-40">
                    <li class="d-flex gap-2 pt-4 pb-6">
                      <div class="position-relative">
                        <img class="object-fit-cover" src="../assets/images/course-5.png" alt="course-5" width="100px" height="100px">
                        <span class="badge badge-danger m-1">8 折</span>
                      </div>
                      <div>
                        <h3 class="fs-7 fw-semibold lh-base mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="d-flex align-items-center">
                            <img class="avatar" src="../assets/images/avatar-2.png" alt="">
                            <h4 class="fs-7 fw-normal">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="fw-semibold text-primary fs-7">NT$ 2,480</p>
                            <p class="fs-9 text-end">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex fs-8 justify-content-between border-top border-neutral-40 py-2">
                          <p class="text-neutral-80">已有 420 位同學加入</p>
                          <p class="d-flex align-items-center gap-1">
                            <span class="material-symbols-outlined icon-filled icon-star">star</span>
                            <span class="text-black fw-medium">4.0</span>
                            <span>(333)</span>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="d-flex gap-2 pt-4 pb-6">
                      <div class="position-relative">
                        <img class="object-fit-cover" src="../assets/images/course-5.png" alt="course-5" width="100px" height="100px">
                        <span class="badge badge-danger m-1">8 折</span>
                      </div>
                      <div>
                        <h3 class="fs-7 fw-semibold lh-base mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="d-flex align-items-center">
                            <img class="avatar" src="../assets/images/avatar-2.png" alt="">
                            <h4 class="fs-7 fw-normal">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="fw-semibold text-primary fs-7">NT$ 2,480</p>
                            <p class="fs-9 text-end">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex fs-8 justify-content-between border-top border-neutral-40 py-2">
                          <p class="text-neutral-80">已有 420 位同學加入</p>
                          <p class="d-flex align-items-center gap-1">
                            <span class="material-symbols-outlined icon-filled icon-star">star</span>
                            <span class="text-black fw-medium">4.0</span>
                            <span>(333)</span>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="d-flex gap-2 pt-4 pb-6">
                      <div class="position-relative">
                        <img class="object-fit-cover" src="../assets/images/course-5.png" alt="course-5" width="100px" height="100px">
                        <span class="badge badge-danger m-1">8 折</span>
                      </div>
                      <div>
                        <h3 class="fs-7 fw-semibold lh-base mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <div class="d-flex align-items-center">
                            <img class="avatar" src="../assets/images/avatar-2.png" alt="">
                            <h4 class="fs-7 fw-normal">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="fw-semibold text-primary fs-7">NT$ 2,480</p>
                            <p class="fs-9 text-end">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex fs-8 justify-content-between border-top border-neutral-40 py-2">
                          <p class="text-neutral-80">已有 420 位同學加入</p>
                          <p class="d-flex align-items-center gap-1">
                            <span class="material-symbols-outlined icon-filled icon-star">star</span>
                            <span class="text-black fw-medium">4.0</span>
                            <span>(333)</span>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </li>
          <li>
            <form class="position-relative" role="search">
              <span class="material-symbols-outlined position-absolute top-50 start-0 translate-middle-y ms-2">search</span>
              <input class="form-control py-5 px-9" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
              <button class="btn btn-primary btn-sm position-absolute top-50 end-0 translate-middle-y me-2" type="submit">搜尋</button>
            </form>
          </li>
        </ul>
      </div>
      <!-- 鈴鐺、購物車、漢堡選單 -->
      <div class="d-flex align-items-center">
        <!-- 鈴鐺、購物車 -->
        <ul class="list-unstyled d-flex align-items-center gap-xl-4">
          <li>
            <button type="button" class="btn py-2 px-3 shadow-none">
              <span class="material-symbols-outlined position-relative">
                notifications
                <span
                class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
              </span>
            </button>
          </li>
          <li>
            <button type="button" class="btn py-2 px-3 shadow-none">
              <div class="position-relative">
                <span class="material-symbols-outlined ">
                  shopping_cart
                </span>
                <span class="position-absolute top-0 start-100 translate-middle badge badge-number rounded-pill bg-primary border border-light m-0">2<span class="visually-hidden">cart item number</span>
                </span>
              </div>
            </button>
          </li>
          <li class="d-none d-xl-block">
            <a href="login.html" class="btn btn-primary" role="button">登入 / 註冊</a>
          </li>
        </ul>
        <!-- 漢堡選單 -->
        <button class="navbar-toggler p-2 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- offcanvas  -->
      <div class="offcanvas offcanvas-end d-flex d-xl-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-body d-xl-none position-relative p-0">
          <div class="mobile-nav-dropdown-menu">
            <!-- 選單第一層 (手機) -->
            <ul class="list-unstyled dropdown-menu-level-one ">
              <!-- <li class="d-flex justify-content-between align-items-center mb-2"> -->
              <li class="offcanvas-header">
                <p class="offcanvas-title" id="offcanvasLabel">探索全部</p>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </li>
              <li><a class="dropdown-item" href="#">音樂</a></li>
              <li>
                <a 
                  class="dropdown-item" 
                  href="#"
                  data-bs-toggle="dropdown" 
                  
                >程式</a>
                <ul class="dropdown-menu dropdown-menu-level-two">
                  <li>
                    <a class="dropdown-item dropdown-item-all mb-2 d-flex justify-content-center position-relative" href="#">
                      <span class="material-symbols-outlined position-absolute start-0 ms-6">chevron_left</span>
                      所有程式
                    </a>
                  </li>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">程式</a></li>
              <li><a class="dropdown-item" href="#">藝術</a></li>
              <li><a class="dropdown-item" href="#">人文</a></li>
              <li><a class="dropdown-item" href="#">行銷</a></li>
              <li><a class="dropdown-item" href="#">投資理財</a></li>
              <li><a class="dropdown-item" href="#">心靈成長</a></li>
              <li><a class="dropdown-item" href="#">職場技能</a></li>
              <li><a class="dropdown-item" href="#">生活品味</a></li>
            </ul>
          </div>
          <div class="border-top py-3 px-6 position-absolute bottom-0 w-100">
            <a href="login.html" class="btn btn-primary w-100" role="button">登入 / 註冊</a>
          </div>
        </div>
      </div>
    </div>
  </header>