.btn-primary{
  &:hover{
    background: $primary-dark;
  }
}
.btn-primary, .btn-outline-primary{
  &:disabled{
    background: transparent;
    color: $neutral-60;
    border: none;
  }
}
.btn{
  &:first-child:active, &.active, &.show{
    border-color: $primary;
  }
  &:focus-visible{
    border-color: $neutral-80;
  }
}
.form-select:active{
  border-color: red;
}
.form-select:focus-visible{
  border-color: green;
}