.index-title {
  font-size: 100px;
}
.tab-title{

}
.tab-item{
  
}
.carousel-item img{
  height: 400px;
  object-fit: cover;
}
.carousel-indicators{
  & [data-bs-target] {
    border: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .active{
    background-color: $primary;
    width: 24px;
    height: 8px;
    border-radius: 100px;
  }
}
.heroSwiper{
  @include media-breakpoint-up(md){
    margin-bottom: 72px;
  }
  .swiper-slide{
    max-height: 400px;
    @include media-breakpoint-up(md){
      max-height: 800px;
      border-radius: 80px;
      overflow: hidden;
    }
    &-title{
      background-color: $primary;
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 14px;
      padding: 16px 0;
      text-align: center;
      @include media-breakpoint-up(md){
        border-radius: 0px 100px 0px 0px;
        padding: 32px 80px 32px 120px;
        text-align: left;
        width: auto;
        font-size: 40px;
      }
    }
  }
  img{
    height: 400px;
    object-fit: cover;
    width: 100%;

  }
  .swiper-pagination-bullet{
    background-color: $neutral-40;
    &-active{
      background: $primary;
      width: 24px;
      height: 8px;
      border-radius: 100px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    width: 54px;
    height: 54px;
    background-color: white;
    border-radius: 12px;
    &:hover{
      background-color: $primary;
      color: white;
    }
  }
  .swiper-button-prev{
    left: 10%;
    &::after{
      content: "\e5c4";
      font-family: "Material Symbols Outlined";
      font-size: 24px;        
    }
  }
  .swiper-button-next{
    right: 10%;
    &::after{
      content: "\e5c8";
      font-family: "Material Symbols Outlined";
      font-size: 24px;
    }
  }
}
.fundraising-course{
  .card-title{
    margin-bottom: 8px;
  }
  .card-text{
    color: $primary;
    font-weight: 700;
    @include media-breakpoint-up(md){
      font-weight: 600;
    }
  }
  .progress{
    height: 8px;
    border-radius: 100px;
    margin-bottom: 8px;
  }
  .avatar{
    border-radius: 50%;
    margin-right: 8px;
  }
  &-type{
    overflow-x: auto;
    white-space: nowrap;
  }
}